* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    --theme: #151515;
    --button--theme: #1877f2;
    --error: #E54141;
}

body {
    background: #444343;

    font-family: 'Lato', sans-serif;
    /* font-family: 'Passion One', cursive; */
    /* font-family: 'Oswald', sans-serif;   */
}